# Ignore all user-specific data
AppData/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
.bash_history
.gitconfig
.lesshst

# Windows specific temporary files
Thumbs.db
Desktop.ini

# Ignore all files ending with .log
*.log
